{% extends 'base.html' %}

{% block content %}
    <h1>Communities</h1>
    <br/>   
    {% for item in communities_with_roles %}

        {% if item.community.type == False %}
            <a href="{% url 'show-community' item.community.id %}">{{ item.community }}</a> 

            {% if item.owner  or item.member  or item.moderator %}
  
                {% if item.owner  or item.moderator  %}
                
                    <a href="{% url 'update-community' item.community.id %}">-Update</a> 
                    <a href="{% url 'all_communities_user' item.community.id %}">-User Management</a> 
                {% endif %}

                {% if item.moderator  or item.member  %}
                    <a href="{% url 'remove-community' item.community.id %}">-Remove</a> 
                {% endif %}
            {% else %}
                <a href="{% url 'join-community' item.community.id %}">-Join</a> 
            {% endif %}
        {% endif %} <br/>
    {% endfor %}
{% endblock %}
